:root {
    --gameboard-height: min(calc(100vh - 250px), 750px);
    --gameboard-width: min(calc(var(--gameboard-height) / 6 * 5),
         calc(100vw - 8px));
    --grey: rgb(88, 88, 88);
    --yellow: #b59f3b;
    --green: #6aaa64;
}

html, body {
    margin: 0;
    height: 100vh;
    font-family:sans-serif;
}

body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

header {
    width: 100vw;
    height: 50px;
    flex: none;
    font-size: 32px;
    border-bottom: 1px solid var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameBoard {
    margin-top: 8px;
    padding: auto 0;
    height: var(--gameboard-height);
    width: var(--gameboard-width);
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.gameBoardRow {
    display: flex;
    gap: 4px;
    margin: auto 0;
}

.squareContainer {
    position: relative;
    width: 20%;
}

.squareContainer::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.square {
    position: absolute;
    top:      0;
    left:     0;
    bottom:   0;
    right:    0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--grey);
    border-radius: 2px;
    font-weight: 700;
}

.present {
    background-color: var(--yellow);
}

.correct {
    background-color: var(--green);
}

#keyboard {
    width: 100vw;
    height: 200px;
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin: 8px 0;
}

.keyboardRow {
    display: flex;
    gap: 4px
}

.key {
    padding: 4px;
    border-radius: 2px;
    background-color: var(--grey);
    font-size: 24px;
}